<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Controlreparacionespj.Properties.Settings.DbreparacionesConnectionString1"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Dbreparaciones.accdb"
      providerName="System.Data.OleDb" />
    <add name="Controlreparacionespj.Properties.Settings.DbreparacionesConnectionString"
      connectionString="Provider=Microsoft.Ace.OLEDB.12.0;Data Source=C:\Users\onelv\Desktop\Dbreparaciones.accdb; Jet OLEDB"
      providerName="System.Data.OleDb" />
    <add name="Controlreparacionespj.Properties.Settings.DbreparacionesConnectionString2"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\onelv\Desktop\Dbreparaciones.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>